{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
          <div class="media-body">
               <div>
                   <a class="article_author" href="{{ url_for('account', username=error.author.username) }}"> {{ error.author.username }} <img src="{{ error.author.avatar(32) }}"></a>
              </div>
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('showError', error_id=error.id) }}">{{ error.name }}</a>
                <small class="text-muted">{{ error.date_posted }}</small>
            </div>
              <p class="article-title" > Line: {{ error.line }}</p>
              <p class="article-content">{{ error.description }}</p>
        {% if error.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('editError', error_id=error.id) }}">Update</a>
            <a class="btn btn-danger btn-sm m-1" href="{{ url_for('deleteError', error_id=error.id) }}">Delete</a>
          </div>
        {% endif %}
    </div>
  </article>
{% endblock content %}