{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="content-section">
    <legend class="border-bottom mb-4">Having trouble with your code?</legend>
            <a style="display: inline-block; padding: 4px; border-radius: 2px; background-color: grey; border: 1px
            solid black; text-decoration: none; color: white" href="{{ url_for('newError', username=current_user.username) }}" >Submit your error</a>
</div>
{% endif %}
    {% for error in errors %}
        <article class="media content-section">
          <div class="media-body">
               <div>
                   <a class="article_author" href="{{ url_for('account', username=error.author.username) }}"> {{ error.author.username }} <img src="{{ error.author.avatar(32) }}"></a>
              </div>
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('showError', error_id=error.id) }}">{{ error.name }}</a>
                <small class="text-muted">{{ error.date_posted }}</small>
            </div>
              <p class="article-title" > Line: {{ error.line }}</p>
              <p class="article-content">{{ error.description }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}