{% extends "layout.html" %}

{% block content %}
    <h1>Describe your error</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <legend class="border-bottom mb-4">{{ legend }} </legend>
        <p>
            {{ form.error_name.label }}<br>
            {{ form.error_name(size=32) }}<br>
            {% for error in form.error_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.line_nr.label }}<br>
            {{ form.line_nr(size=32) }}<br>
            {% for error in form.line_nr.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(cols=50, rows=4) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}